## Table of Contents <a class="anchor" id="toc"></a>
* [AWS Configurtions](#aws-configurations)
* [Create Clients for S3 and IAM](#clients-aws-resources)
* [IAM Role](#iam-role)
* [Redshift Cluster](#redshift-cluster)
* [ETL](#etl)
* [Verify](#verify)
* [Remove resources](#remove-resources)

In [8]:
%load_ext sql

In [9]:
import boto3
import json
import time
import getpass
import configparser
import pandas as pd

## AWS Configurtions <a class="anchor" id="aws-configurations"></a>

In [20]:
# Enter AWS KEY and Secret
KEY = getpass.getpass(prompt='Enter AWS Access key ID:')
SECRET = getpass.getpass(prompt='Enter AWS Secret access key')

Enter AWS Access key ID:········
Enter AWS Secret access key········

In [21]:
# Load DWH Params from config file
CONFIG_FILE = 'dwh.cfg'
config = configparser.ConfigParser()
config.read(CONFIG_FILE)

# KEY                    = config.get('AWS','KEY')
# SECRET                 = config.get('AWS','SECRET')

REGION                 = config.get("AWS","REGION")

DWH_IAM_ROLE_NAME      = config.get("IAM_ROLE","ARN_NAME")

DWH_ENDPOINT           = config.get("CLUSTER","HOST")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

## Create Clients for S3 and IAM <a class="anchor" id="clients-aws-resources"></a>

In [22]:
# Created clients for S3, AM and Redshift
s3 = boto3.resource('s3',
                    region_name=REGION,
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',
                   region_name=REGION,
                   aws_access_key_id=KEY,
                   aws_secret_access_key=SECRET
                  )

redshift = boto3.client('redshift',
                        region_name=REGION,
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET
                       )

In [23]:
# Check out the sample data sources on S3 
sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

## IAM Role <a class="anchor" id="iam-role"></a>

In [24]:
# Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)
try:
    print('Creating a new IAM Role')
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {
                'Statement': [
                    {
                        'Action': 'sts:AssumeRole',
                        'Effect': 'Allow',
                        'Principal': {'Service': 'redshift.amazonaws.com'}
                    }
                ],
                'Version': '2012-10-17'}
        )
    )
except Exception as e:
    print(e)

Creating a new IAM Role

In [25]:
print('Attaching Policy')
iam.attach_role_policy(
    RoleName=DWH_IAM_ROLE_NAME,
    PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
)['ResponseMetadata']['HTTPStatusCode']

Attaching Policy

200

In [26]:
print('Get the IAM role ARN')
DWH_ROLE_ARN = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(DWH_ROLE_ARN)

Get the IAM role ARN
arn:aws:iam::601437042221:role/dwh_role

In [27]:
# Update config file with DWH_ROLE_ARN
config.set("IAM_ROLE","ARN", DWH_ROLE_ARN)
with open(CONFIG_FILE, "w+") as configfile:
    config.write(configfile)

## Redshift Cluster <a class="anchor" id="redshift-cluster"></a>

In [28]:
# Create a RedShift Cluster
try:
    response = redshift.create_cluster(        
        # Add parameters for hardware
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        # Add parameters for identifiers & credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        # Add parameter for role (to allow s3 access)
        IamRoles=[DWH_ROLE_ARN]
    )
except Exception as e:
    print(e)

In [29]:
# Wait for cluster getting created
print('Redshift Cluster is getting created...')
cluster_status = 'creating'
while cluster_status != "available":
    myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
    cluster_status = myClusterProps['ClusterStatus']
    time.sleep(5)
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
print(f'Cluster status: {cluster_status} \nEndpoint: {DWH_ENDPOINT}')

Redshift Cluster is getting created...
Cluster status: available
Endpoint: dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com

In [30]:
# Update config file with DWH_ENDPOINT
config.set("CLUSTER","HOST", DWH_ENDPOINT)
with open(CONFIG_FILE, "w+") as configfile:
    config.write(configfile)

In [31]:
# Establish conection to the cluster
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## ETL <a class="anchor" id="etl"></a>

In [32]:
# Create staging, fact and dim tables
!python3 create_tables.py

In [33]:
# ETL
!python3 etl.py

## Vertify <a class="anchor" id="verify"></a>

#### Check count of staging, fact and dim tables entries

In [34]:
%sql SELECT count(*) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [35]:
%sql SELECT count(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [36]:
%sql SELECT count(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [37]:
%sql SELECT count(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [38]:
%sql SELECT count(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [39]:
%sql SELECT count(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [40]:
%sql SELECT count(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

#### Display few entries of tables

In [41]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, 1541207073796, None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', 1541077528796.0, 52, None, 200, 1541207123796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Playa Haters', 200, 1541207150796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'You Belong With Me', 200, 1541207316796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Valerie', 200, 1541207546796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53)]

In [42]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR73AIO1187B9AD57B', 37.77916, -122.42005, 'San Francisco, CA', 'Western Addiction', 'SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', 118.07302, 2005),
 (1, 'AR1Y2PT1187FB5B9CE', 27.94017, -82.32547, 'Brandon', 'John Wesley', 'SOLLHMX12AB01846DC', 'The Emperor Falls', 484.62322, 0),
 (1, 'ARR6LWJ1187FB44C8B', None, None, 'Athens, GA', 'R.E.M.', 'SOLJCCO12A6701F987', 'Fall On Me (Live)', 203.12771, 1995),
 (1, 'ARBVASN1187B9890CB', None, None, 'Chicago, IL', 'Lucky Boys Confusion', 'SOZQOSV12AB018CDFC', 'Do You Miss Me (Killians) (LP Version)', 169.69098, 2001),
 (1, 'ARCVOFZ1187FB58074', None, None, '', 'Arisen Flame', 'SOUBASN12AC468DB23', 'Income', 443.45424, 0)]

In [43]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(6, datetime.datetime(2018, 11, 7, 7, 58, 28), 100, 'free', 'SODTPBM12A8C1339D7', 'AR4OH581187B9B7157', 301, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (70, datetime.datetime(2018, 11, 5, 10, 41, 2), 42, 'paid', 'SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 129, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (78, datetime.datetime(2018, 11, 11, 20, 8, 52), 80, 'paid', 'SOBNYLJ12AB0189934', 'AREIK8S1187B9A6071', 435, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (55, datetime.datetime(2018, 11, 19, 6, 30, 8), 80, 'paid', 'SOYDHXP12AB01849D4', 'AR73S4G1187B9A03C2', 666, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (119, datetime.datetime(2018, 11, 30, 10, 30, 53), 36, 'paid', 'SOOIPWS12AB018CBBB', 'ARKJS6R1187FB46324', 998, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [44]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(53, 'Celeste', 'Williams', 'F', 'free'),
 (69, 'Anabelle', 'Simpson', 'F', 'free'),
 (14, 'Theodore', 'Harris', 'M', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free'),
 (34, 'Evelin', 'Ayala', 'F', 'free')]

In [45]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOGXFIF12A58A78CC4', 'Hanging On (Medium Key Performance Track Without Background Vocals)', 'AR5LZJD1187FB4C5E5', 0, 204.06812),
 ('SOAPKIC12A6D4FAA4C', 'Chevrolet', 'AR9MOXS1187B98AF78', 1995, 332.59057),
 ('SODOFJA12AB0180FEB', 'Harbor Docks', 'ARBZ5F71187B9A5860', 0, 196.80608),
 ('SOYZOXW12A8C13E195', 'Little Girl (LP Version)', 'ARTB5PP1187FB523B7', 1971, 283.21914),
 ('SOAGKPS12A6D4FA43A', 'Mi Enfermedad', 'AR79C1C1187FB4C482', 1991, 210.54649)]

In [46]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARNZ70R1187B9A4824', 'Joe Satriani', 'Westbury, Long Island, NY', None, None),
 ('ARSX6IX1187B9B640C', 'Big Star', 'Memphis, TN', 35.14968, -90.04892),
 ('ARK4YUT1187FB424B4', 'Sentridoh', '', None, None),
 ('AROMU7O1187B9B4955', 'Poster Children', 'Champaign-Urbana, IL', 40.11727, -88.20449),
 ('ARCQGTE1187B98F814', 'Nichole Nordeman', '', None, None)]

In [47]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 20, 15, 50, 1), 15, 20, 47, 11, 2018, '2'),
 (datetime.datetime(2018, 11, 3, 17, 59, 1), 17, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 5, 11, 17, 25), 11, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 30, 16, 51, 42), 16, 30, 48, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 22, 1, 59, 4), 1, 22, 47, 11, 2018, '4')]

#### Sample analytical queries

**Q1) What are the most played songs?**

In [48]:
%%sql
SELECT s.title AS song, count(song) AS frequency 
FROM songplays sp 
JOIN songs s ON (s.song_id = sp.song_id) 
GROUP BY song
ORDER BY count(*) desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[("You're The One", 37),
 ("I CAN'T GET STARTED", 9),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ("Hey Daddy (Daddy's Home)", 6)]

**Q2)When is the highest usage time of day by hour for songs?**

In [49]:
%%sql
SELECT extract(hour from sp.start_time) as hour, count(hour) AS frequency
FROM songplays sp
GROUP BY hour
ORDER BY count(*) desc
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(17, 40), (18, 26), (15, 25), (16, 24), (8, 18)]

## Remove resources <a class="anchor" id="remove-resources"></a>

In [50]:
# Delete cluster
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cuyq32cifj16.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2024, 6, 2, 17, 24, 41, 814000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0b6177a4105800f15',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-03c5e2fd3590a17ec',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'fri:07:30-fri:08:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::601437042221:role/dwh_role',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '22a36e92-fb93-4248-b65b-2222051faf8a',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '22a36e92-fb93-4248-b65b-2222051faf8a',
   'content-type': 'text/xml',
   'content-length': '2883',
   'date': 'Sun, 02 Jun 2024 17:31:41 GMT'},
  'RetryAttempts': 0}}

In [51]:
# Wait for cluster deletion
print('Redshift Cluster is getting getting deleted...')
cluster_status = 'deleting'
while cluster_status == "deleting":
    try:
        myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
        cluster_status = myClusterProps['ClusterStatus']
        time.sleep(5)
    except Exception as e:
        break
print(f'{DWH_CLUSTER_IDENTIFIER} has been deleted!')

Redshift Cluster is getting getting deleted...
dwhCluster has been deleted!

In [52]:
# Delete IAM Role
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': 'ec377840-d698-40e0-8323-c442e427d574',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 02 Jun 2024 17:32:46 GMT',
   'x-amzn-requestid': 'ec377840-d698-40e0-8323-c442e427d574',
   'content-type': 'text/xml',
   'content-length': '200'},
  'RetryAttempts': 0}}